includeConfig './configs/containers.config'
params {
  // parameters user must provide
  adaptersFile=null
  // parameters user should be aware, but have default values
  virus = "sars-cov2" // accepted values are ("sars-cov2", "custom")
  outDir = "$launchDir/output/"
  inDir = "$launchDir/input/"
  databaseDir = "$projectDir/databases/"
  runSnpEff = true
  // process parameters
  threads = 1
  minLen = 75
  depth = 5
  minDpIntrahost = 100
  trimLen = 0

  // parameter to be set by user if a custom virus is used
  refGenomeCode=null
  referenceGFF=null
  referenceGenome=null

}

executor {
    name = "local"
    cpus = 8
    //memory = '32 GB'
}
