params {
  outDir = "$launchDir/output/"
  inDir = "$launchDir/input/"
  referenceGenome = "$launchDir/input/reference.fasta"
  referenceGFF=""
  threads = 1
  minLen = 75
  depth = 5
  minDpIntrahost = 100
  trimLen = 0
  adaptersFile = "$launchDir/input/ART_adapters.fa"
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    withName:indexReferenceBWA {
        container = "$projectDir/containers/singularity_bwa_v0717.sif"
    }
    withName:runFastp {
        container = "$projectDir/containers/singularity_fastp_v0201.sif"
    }
    withName:runIvar {
        container = "$projectDir/containers/ivar_latest.sif"
    }
    withName:runReadCounts {
        container = "$projectDir/containers/singularity_bam_readcount.sif"
    }
    withName:alignConsensus2Ref {
        container = "$projectDir/containers/singularity_mafft.sif"
    }
    withName:runIntraHostScript {
        container = "$projectDir/containers/singularity_pythonScripts.sif"
    }
    withName:runPangolin{
        container = "$projectDir/containers/pangolin_latest.sif"
    }
    withName:runNextClade{
        container = "$projectDir/containers/nextclade_latest.sif"
    }
    withName:runPicard{
       container = "$projectDir/containers/singularity_picard.sif"
    }
    withName:fixWGS {
        container = "$projectDir/containers/singularity_pythonScripts.sif"
    }
}
