includeConfig './configs/containers.config'
includeConfig './configs/profiles.config'
params {
  // parameters user must provide
  adaptersFile=null
  // parameters user should be aware, but have default values
  virus = "sars-cov2" // accepted values are ("sars-cov2", "custom")
  outDir = "$launchDir/output/"
  inDir = "$launchDir/input/"
  // snpEff
  snpEffDBCatalog = "$projectDir/containers/snpEff_DB.catalog"
  databaseDir = "$projectDir/databases/"
  runSnpEff = true
  
  writeMappedReads = true
  
  // process parameters
  minLen = 75
  depth = 5
  minDpIntrahost = 100
  trimLen = 0

  // parameter to be set by user if a custom virus is used
  refGenomeCode=null
  referenceGFF=null
  referenceGenome=null

  // set available resources for nextflow
  nextflowSimCalls = null
  
  // set nunmber for multithreads
  fastp_threads = 1
  bwa_threads = 1
  mafft_threads = 1
  nxtclade_jobs = 1
  pangolin_threads = 1
  // HPC specific
  queue_size = 100
}

executor {
  name = "local"
  cpus = params.nextflowSimCalls
}
