singularity {
    enabled = true
    autoMounts = true
    // --- GAMBIARRA ALERT ----------------------------------------------------
    // '--writable-tmpfs' is necessary to run snpEff. By default, snpeff builds
    // the database on the exec path. So the softwares needs to write files
    // inside the container. This should be a temporary fix, a way to set the
    // snpEff to write on a location outside the container must be investigated.
    //
    // This change affect running of all containers, which is not ideal.
    runOptions = "--writable-tmpfs"
    // ------------------------------------------------------------------------
}

process {
    withName:prepareDatabase{
        container = "$projectDir/containers/singularity_edirect.sif"
    }
    withName:indexReferenceBWA {
        container = "$projectDir/containers/singularity_bwa_v0717.sif"
    }
    withName:runFastp {
        container = "$projectDir/containers/singularity_fastp_v0201.sif"
    }
    withName:runIvar {
        container = "$projectDir/containers/ivar_latest.sif"
    }
    withName:align2ref {
        container = "$projectDir/containers/ivar_latest.sif"
    }
    withName:runReadCounts {
        container = "$projectDir/containers/singularity_bam_readcount.sif"
    }
    withName:alignConsensus2Ref {
        container = "$projectDir/containers/singularity_mafft.sif"
    }
    withName:runIntraHostScript {
        container = "$projectDir/containers/singularity_pythonScripts.sif"
    }
    withName:runPangolin{
        container = "$projectDir/containers/pangolin_latest.sif"
    }
    withName:runNextClade{
        container = "$projectDir/containers/nextclade_2.4.0.sif"
    }
    withName:runPicard{
       container = "$projectDir/containers/singularity_picard.sif"
    }
    withName:fixWGS {
        container = "$projectDir/containers/singularity_pythonScripts.sif"
    }
    withName:compileOutputs {
        container = "$projectDir/containers/singularity_pythonScripts.sif"
    }
    withName:runSnpEff{
        container = "$projectDir/containers/singularity_snpeff.sif"
    }
    withName:genFaIdx{
    container = "$projectDir/containers/singularity_samtools.sif"
    }
    withName:getMappedReads{
    container = "$projectDir/containers/singularity_samtools.sif"
    }
}
