singularity {
    enabled = true
    autoMounts = true
    // --- GAMBIARRA ALERT ----------------------------------------------------
    // '--writable-tmpfs' is necessary to run snpEff. By default, snpeff builds
    // the database on the exec path. So the softwares needs to write files
    // inside the container. This should be a temporary fix, a way to set the
    // snpEff to write on a location outside the container must be investigated.
    //
    // This change affect running of all containers, which is not ideal.
    //runOptions = "--writable-tmpfs"
    runOptions = "--writable"
    // ------------------------------------------------------------------------
}

process {
    withName:prepareDatabase{
        container = "$projectDir/containers/edirect:latest.sif"
    }
    withName:indexReferenceBWA {
        container = "$projectDir/containers/mapping_reference:1.0.0.sif"
    }
    withName:runFastp {
        container = "$projectDir/containers/fastp:0.20.1.sif"
    }
    withName:runIvar {
        container = "$projectDir/containers/generate_consensus:1.0.0.sif"
    }
    withName:align2ref {
        container = "$projectDir/containers/generate_consensus:1.0.0.sif"
    }
    withName:runReadCounts {
        container = "$projectDir/containers/intrahost_analysis:1.0.0.sif"
    }
    withName:alignConsensus2Ref {
        container = "$projectDir/containers/mafft:7.505.sif"
    }
    withName:runPangolin{
        container = "$projectDir/containers/pangolin_latest.sif"
    }
    withName:runNextClade{
        container = "$projectDir/containers/singularity_nextclade.sif"
    }
    withName:runPicard{
       container = "$projectDir/containers/picard:2.27.2.sif"
    }

    withName:runSnpEff{
        container = "$projectDir/containers/singularity_snpeff.sif"
    }
    withName:genFaIdx{
        container = "$projectDir/containers/samtools:1.15.sif"
    }
    withName:getMappedReads{
        container = "$projectDir/containers/samtools:1.15.sif"
    }
    withName:getUnmappedReads{
        container = "$projectDir/containers/samtools:1.15.sif"
    }
    withName:bamToFastq{
        container = "$projectDir/containers/bedtools:2.30.0.sif"
    }
    withName:checkSnpEffDB{
        container = "$projectDir/containers/singularity_snpeff.sif"
    }
    withName:runVfReport{
        container = "$projectDir/containers/generate_report:1.0.0.sif"
    }
    withName:coveragePlot{
        container = "$projectDir/containers/bamdash:0.2.1.sif"
    }
}
