profiles {
    // Basic configuration to run locally at HPC (Fiocruz) 
    fiocruz_default {
        // no docker
        docker {
            enabled = false
        }

        // set singulty options
        singularity { // /sw/singularity/bin/singularity
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /storage/, /storage1/, /storage2/, /sw/"
        }

        executor {
            name = "local"
            cpus = {params.nextflowSimCalls}
        }
    }

    // Config for PBS environment (Fiocruz)

    fiocruz_pbs {

        executor {
            name = 'pbs'
        }
        cusomPath = "$PATH:/sw/singularity/bin/"
        // no docker
        docker {
            enabled = false
        }

        // singulirity options
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "./"
            runOptions = "--bind /storage/, /storage1/, /storage2/, /sw/"
        }

        process {
            cpus = 1
            memory = "1GB"
            queue = "normq"
            errorStrategy = {task.attempt <= 3 ? 'retry' : 'terminate'}
            maxRetries = 2
        }

        executor {
            name = "pbs"
            perJobMemLimit = true
            // Maximum number of jobs to spawn at once - adjust as necessary
            queueSize = {params.queue_size}
            jobName = { "vfnext - $task.name - $task.hash" }
            pollInterval = "2 sec"
        }
    }
}